.barChart{
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.label{
  border-right: 2px solid black;
}
.bar{
  background: lightblue;
  width: 100%;
  text-align: center;
}
.subTable{
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.dataCell{
  width: 20%;
}
.yCell{
  border-right: 1px solid black;
}
.yTable{
  height: 100%;
}
.yAxis{
  vertical-align: text-top;
}
.xLabel{
  border-top: 1px solid black;
  height: 80px;

}
p{
  word-break: break-all;
}
#title{
  text-align: center;
}
