.barChart{
  border: 2px solid black;
  width: 100%;
}
.label{
  border-right: 2px solid black;
}
.bar{
  background: lightblue;
}
.placeholder{
  width: 10%;
}
.xAxis{
  text-align: right;
}
.subTable{
  width: 100%;
}
.dataCell{
  width: 100%;
}
.test{
  width: 10em;
  overflow-wrap: break-word;
}
