.barChart{
  border: 2px solid black;
  width: 100%;
}
.label{
  border-right: 2px solid black;
}
.bar{
  background: lightblue;
  text-align: center;
}
.placeholder{
  width: 10em;
  background: red;
}
.xAxis{
  text-align: right;
  border-right: 1px solid black;
}
.subTable{
  width: 100%;
}
.dataCell{
  width: 100%;
}
.test{
  width: 10em;
  overflow-wrap: break-word;
}
#bottomTable{
  width: 100%;
  border-collapse: collapse;
}
